@import "tailwindcss";

@theme {
  --color-primary: #ec135b;
  --color-primary-light: #fdf2f6;
  --color-accent-green: #4ade80;
  --color-accent-gold: #ffd700;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221016;
  --color-surface-light: #ffffff;
  --color-surface-dark: #2d1b22;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.04);
  --shadow-nav: 0 -4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-zinc-900 dark:text-zinc-100 font-display min-h-screen;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}